/target
/frontend/build
/frontend/dist
/frontend/coverage
/lcov.info
/pw.yml
/pw.log
/frontend/.svelte-kit
/frontend/node_modules
CONVENTIONS.md
/.a*
.DS_Store
/helm-chart/*.tgz
/*.tgz
*.md
!docs/**/*.md
!LICENSE.md
!README.md
!helm-chart/CHANGELOG.md
.env
