services:
  app:
    container_name: pw
    image: tinyops/pw:1.14.0
    restart: always
    environment:
      PW_LISTEN: "0.0.0.0:8080"
      PW_LOG_LEVEL: "info"
      PW_MESSAGE_MAX_LENGTH: "3127"
      PW_ENCRYPTED_MESSAGE_MAX_LENGTH: "15485760"
      PW_FILE_UPLOAD_ENABLED: "true"
      PW_FILE_MAX_SIZE: "1048576"
      PW_REDIS_URL: "redis://redis:6379/"
      PW_LOG_TARGET: "console"
    #volumes:
    #- ./pw.yml:/app/pw.yml
    ports:
      - "8080:8080"

  redis:
    container_name: pw-redis
    image: redis:8.4.0-alpine3.22
    restart: always
    command: 'redis-server --save "" --appendonly no --maxmemory 128mb'
    # ports:
    #   - "6379:6379"
